IMAPAccount User1
Host <imap host name>
Port 993
User <user@example.com>
PassCmd "cat /config/.imap_password"
TLSType IMAPS
AuthMechs LOGIN
IMAPStore User1-remote
Account User1
MaildirStore User1-local
Path /Mail/<user@example.com>/
Inbox /Mail/<user@example.com>/INBOX
SubFolders Verbatim
Channel User1
Far :User1-remote:
Near :User1-local:
Patterns *
Create Both
SyncState *
Expunge None


